@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 40.95 80.43% 63.92%;
  --primary-foreground: 40 45.45% 6.47%;

  --card: 40 18.75% 6.27%;
  --card-foreground: 40.91 78.57% 94.51%;

  --popover: 0 0% 0%;
  --popover-foreground: 40.91 78.57% 94.51%;

  --secondary: 41.54 45.61% 22.35%;
  --secondary-foreground: 0 0% 100%;

  --muted: 0 0% 9.8%;
  --muted-foreground: 0 0% 50.2%;

  --accent: 41.54 45.61% 22.35%;
  --accent-foreground: 40.91 78.57% 94.51%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 41.38 44.62% 12.75%;
  --input: 40 13.76% 21.37%;
  --ring: 40.95 80.43% 63.92%;

  --chart-1: 40.95 80.43% 63.92%;
  --chart-2: 41.28 53.65% 54.31%;
  --chart-3: 41.25 45.28% 41.57%;
  --chart-4: 41.48 45.25% 35.1%;
  --chart-5: 40.3 45.58% 28.82%;

  --radius: 0.5rem;
}

.theme-solar {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 40.95 80.43% 63.92%;
  --primary-foreground: 40 45.45% 6.47%;

  --card: 40 18.75% 6.27%;
  --card-foreground: 40.91 78.57% 94.51%;

  --popover: 0 0% 0%;
  --popover-foreground: 40.91 78.57% 94.51%;

  --secondary: 41.54 45.61% 22.35%;
  --secondary-foreground: 0 0% 100%;

  --muted: 0 0% 9.8%;
  --muted-foreground: 0 0% 50.2%;

  --accent: 41.54 45.61% 22.35%;
  --accent-foreground: 40.91 78.57% 94.51%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 41.38 44.62% 12.75%;
  --input: 40 13.76% 21.37%;
  --ring: 40.95 80.43% 63.92%;

  --chart-1: 40.95 80.43% 63.92%;
  --chart-2: 41.28 53.65% 54.31%;
  --chart-3: 41.25 45.28% 41.57%;
  --chart-4: 41.48 45.25% 35.1%;
  --chart-5: 40.3 45.58% 28.82%;

  --radius: 0.5rem;
}

.theme-azure {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 223.77 100% 76.08%;
  --primary-foreground: 220 31.58% 7.45%;

  --card: 220 100% 98.82%;
  --card-foreground: 220 31.58% 7.45%;

  --popover: 0 0% 100%;
  --popover-foreground: 220 31.58% 7.45%;

  --secondary: 223.33 100% 96.47%;
  --secondary-foreground: 0 0% 0%;

  --muted: 225 100% 97.65%;
  --muted-foreground: 0 0% 40%;

  --accent: 225 100% 97.65%;
  --accent-foreground: 223.33 31.03% 11.37%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 225 100% 95.29%;
  --input: 224 18.99% 84.51%;
  --ring: 223.77 100% 76.08%;

  --chart-1: 223.77 100% 76.08%;
  --chart-2: 223.85 100% 79.61%;
  --chart-3: 224.05 100% 84.51%;
  --chart-4: 223.88 100% 86.86%;
  --chart-5: 223.64 100% 89.22%;

  --radius: 0.5rem;
}

.theme-cosmo {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 277.14 89.09% 67.65%;
  --primary-foreground: 276 42.86% 6.86%;

  --card: 277.5 100% 98.43%;
  --card-foreground: 276 42.86% 6.86%;

  --popover: 0 0% 100%;
  --popover-foreground: 276 42.86% 6.86%;

  --secondary: 275.45 91.67% 95.29%;
  --secondary-foreground: 0 0% 0%;

  --muted: 280 88.24% 96.67%;
  --muted-foreground: 0 0% 40%;

  --accent: 280 88.24% 96.67%;
  --accent-foreground: 278.18 42.31% 10.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 277.24 87.88% 93.53%;
  --input: 276.67 21.43% 83.53%;
  --ring: 277.14 89.09% 67.65%;

  --chart-1: 277.14 89.09% 67.65%;
  --chart-2: 277.44 88.65% 72.35%;
  --chart-3: 277.26 88.79% 79.02%;
  --chart-4: 277.04 89.01% 82.16%;
  --chart-5: 277.27 89.19% 85.49%;

  --radius: 0.5rem;
}

.theme-flare {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 29.5 100% 64.51%;
  --primary-foreground: 30 56.25% 6.27%;

  --card: 26.67 100% 98.24%;
  --card-foreground: 30 56.25% 6.27%;

  --popover: 0 0% 100%;
  --popover-foreground: 30 56.25% 6.27%;

  --secondary: 28.89 100% 94.71%;
  --secondary-foreground: 0 0% 0%;

  --muted: 30 100% 96.47%;
  --muted-foreground: 0 0% 40%;

  --accent: 30 100% 96.47%;
  --accent-foreground: 28.89 55.1% 9.61%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 30 100% 92.94%;
  --input: 30 25.58% 83.14%;
  --ring: 29.5 100% 64.51%;

  --chart-1: 29.5 100% 64.51%;
  --chart-2: 29.61 100% 69.8%;
  --chart-3: 29.49 100% 76.86%;
  --chart-4: 29.4 100% 80.39%;
  --chart-5: 29.63 100% 84.12%;

  --radius: 0.5rem;
}

.theme-scarlet {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 0 100% 62.75%;
  --primary-foreground: 0 100% 96.27%;

  --card: 0 100% 98.24%;
  --card-foreground: 0 61.29% 6.08%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 61.29% 6.08%;

  --secondary: 0 100% 94.51%;
  --secondary-foreground: 0 0% 0%;

  --muted: 0 100% 96.27%;
  --muted-foreground: 0 0% 40%;

  --accent: 0 100% 96.27%;
  --accent-foreground: 0 58.33% 9.41%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 0 100% 92.55%;
  --input: 0 27.27% 82.75%;
  --ring: 0 100% 62.75%;

  --chart-1: 0 100% 62.75%;
  --chart-2: 0 100% 68.43%;
  --chart-3: 0 100% 75.88%;
  --chart-4: 0 100% 79.61%;
  --chart-5: 0 100% 83.33%;

  --radius: 0.5rem;
}

.theme-aqua {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 173.43 77.4% 65.29%;
  --primary-foreground: 175.38 39.39% 6.47%;

  --card: 171.43 77.78% 98.24%;
  --card-foreground: 175.38 39.39% 6.47%;

  --popover: 0 0% 100%;
  --popover-foreground: 175.38 39.39% 6.47%;

  --secondary: 174.29 77.78% 94.71%;
  --secondary-foreground: 0 0% 0%;

  --muted: 175.71 77.78% 96.47%;
  --muted-foreground: 0 0% 40%;

  --accent: 175.71 77.78% 96.47%;
  --accent-foreground: 174 40% 9.8%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 173.33 77.14% 93.14%;
  --input: 172.94 20% 83.33%;
  --ring: 173.43 77.4% 65.29%;

  --chart-1: 173.43 77.4% 65.29%;
  --chart-2: 173.28 77.33% 70.59%;
  --chart-3: 173.26 77.39% 77.45%;
  --chart-4: 173.6 77.32% 80.98%;
  --chart-5: 173.23 77.5% 84.31%;

  --radius: 0.5rem;
}

.theme-blush {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: 324.55 91.67% 81.18%;
  --primary-foreground: 326.67 21.95% 8.04%;

  --card: 324 100% 99.02%;
  --card-foreground: 326.67 21.95% 8.04%;

  --popover: 0 0% 100%;
  --popover-foreground: 326.67 21.95% 8.04%;

  --secondary: 323.08 86.67% 97.06%;
  --secondary-foreground: 0 0% 0%;

  --muted: 326.67 100% 98.24%;
  --muted-foreground: 0 0% 40%;

  --accent: 326.67 100% 98.24%;
  --accent-foreground: 325.71 22.58% 12.16%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 324.71 89.47% 96.27%;
  --input: 327.27 14.67% 85.29%;
  --ring: 324.55 91.67% 81.18%;

  --chart-1: 324.55 91.67% 81.18%;
  --chart-2: 324.8 92.59% 84.12%;
  --chart-3: 324.21 90.48% 87.65%;
  --chart-4: 324.49 92.45% 89.61%;
  --chart-5: 324.62 90.7% 91.57%;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 40.91 78.57% 94.51%;

    --primary: 40.95 80.43% 63.92%;
    --primary-foreground: 40 45.45% 6.47%;

    --card: 40 18.75% 6.27%;
    --card-foreground: 40.91 78.57% 94.51%;

    --popover: 0 0% 0%;
    --popover-foreground: 40.91 78.57% 94.51%;

    --secondary: 41.54 45.61% 22.35%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 41.54 45.61% 22.35%;
    --accent-foreground: 40.91 78.57% 94.51%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 41.38 44.62% 12.75%;
    --input: 40 13.76% 21.37%;
    --ring: 40.95 80.43% 63.92%;

    --chart-1: 40.95 80.43% 63.92%;
    --chart-2: 41.28 53.65% 54.31%;
    --chart-3: 41.25 45.28% 41.57%;
    --chart-4: 41.48 45.25% 35.1%;
    --chart-5: 40.3 45.58% 28.82%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ease-ani {
  @apply transition-all ease-in-out delay-75 duration-300;
}

body {
  --sb-track-color: #1c262b00;
  --sb-thumb-color: #7d692100;
  --sb-size: 0px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
